<div>
    <div class="pass">
        <img class="qrcode" src="<%-qr %> ">
        <div class="pass-details">
            <h1>Name: <%= pass.Name %></h1>
            <p>Phone Number: <%= pass.Number %></p>
            <p>Date: 10th December</p>
            <p>Time: 12 Noon Onwards</p>
            <p>Entry: Gate Number 1</p>
            <p>In Case of any issues, please contact <br> Chanchal Dhingra Ma'am: +91 92120 80074</p>
        </div>
    </div>

    <style>
        .pass-details {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .pass {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: max-content;
        }

        .qrcode {
            width: 300px;
            height: 300px;
        }
    </style>
</div>